/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  color: #333;
  animation: fadeIn 1.5s ease-out; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Header Styles */
header {
  background-color: #6a3c3e;
  color: #fefefe;
  padding: 40px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 3rem;
  animation: bounceIn 1s ease; 
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* Intro Section */
.intro {
  text-align: center;
  margin: 40px 0;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 1s forwards 0.5s; 
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro h2 {
  font-size: 2rem;
  color: #9c4645; 
}

.intro p {
  font-size: 1.1rem;
  color: #aaa7a2; 
}

/* Circle Container */
.circle-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #cc9495; 
  color: #fefefe; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-decoration: none;
  margin-top: 20px; 
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Hover effects */
}

.circle a {
  color: #fefefe;
  text-decoration: none;
  font-weight: bold;
}

.circle:hover {
  background-color: #6a3c3e; 
  transform: scale(1.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

/* Footer Styles */
footer {
  background-color: #9c4645; 
  color: #fefefe; 
  text-align: center;
  padding: 20px 0;
  margin-top: 320px;
  padding-bottom: 50px;
  opacity: 0;
  transform: translateY(30px);
  animation: slideUpFooter 1s forwards 1s;
}

@keyframes slideUpFooter {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

footer p {
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .circle-container {
      flex-direction: column;
      gap: 20px;
  }

  .circle {
      width: 120px;
      height: 120px;
      font-size: 16px;
  }

  header h1 {
      font-size: 2.5rem;
  }
}
